@model IEnumerable<PROG7311_POE_PART_2_ST10150631_MICHAEL_TURNER.Models.ProductModel>
    <style>
        .btn.btn-success {
            width: 100%; /* Make the button fill the container width */
            height: 100%;
            border: none; /* Remove button border */
            margin-bottom: 5px;
        }

        .album {
            padding-top: 100px; /* Increase the top padding */
            padding-bottom: 100px; /* Increase the bottom padding */
            padding-left: 50px;
            padding-right: 50px;
            background-size: cover;


        }
    </style>
    <head>
        <title>Green Energy Marketplace: </title>

    </head>
    <html>
    <body>
    <h1 style="color:aliceblue">Products: </h1>
    @if (CoreModel.UserRole == 1)
    {
        <div class="row">
            <!-- Filter Mechanism for product Type -->
        <div class="col">
            @using (Html.BeginForm("OnFilterType", "Marketplace", FormMethod.Post))
            {
                <a class="form-select" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter Product Types</a>
                <div class="dropdown-menu" style="">
                    <h6 class="dropdown-header">Filter</h6>
                    <select class="dropdown-item" id="type" name="type" fdprocessedid="us1jy">
                        <option value="All">All</option>
                        <option value="Wind Energy">Wind Energy</option>
                        <option value="Solar Energy">Solar Energy</option>
                        <option value="Hydropower">Hydropower</option>
                        <option value="Biofuel">Biofuel</option>
                        <option value="Other">Other</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Apply Filter</button>
                </div>
            }
            </div>
            <!-- Filter Mechanism for product Production Date -->
        <div class="col">
            @using (Html.BeginForm("OnFilterDate", "Marketplace", FormMethod.Post))
            {
                <a class="form-select" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter Product Dates</a>
                <div class="dropdown-menu" style="">
                    <h6 class="dropdown-header">Filter</h6>
                    <div class="form-group">
                        <label for="startDate">Start Date:</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" required>
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date:</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Apply Filter</button>
                </div>
            }
        </div>
        </div>
    }
        <div class="album py-5 bg-primary" style="background-size:cover">
            <div class="container">
                <!-- Button to Add Product-->
            @if(CoreModel.UserRole == 2)
            {
                <a type="button" class="btn btn-success" style="background-size:cover" asp-controller="Marketplace" asp-action="AddProduct">+ Add Product</a>
                @foreach (var product in Model)
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                                <div class="card-header">
                                    <h3>Product Name: @product.ProductName</h3>
                                    <h4>Supplier: @product.SupplierName</h4>
                                    <img class="card-img-top" src="data:image;base64,@(Convert.ToBase64String(product.ProductImage))" style="height: 200px; object-fit:contain;" />
                                    <div class="card-body">
                                        <h5>Production Date: @product.ProductionDate.ToShortDateString()</h5>
                                        <p class="card-text">Price: R @product.ProductPrice</p>
                                        <p class="card-text">Category: @product.ProductCategory</p>
                                        <p class="card-text">Description: @product.ProductDescription</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <form asp-controller="Marketplace" asp-action="DeleteProduct" method="post">
                                                <input type="hidden" name="productId" value="@product.ProductID" />
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
            else if(CoreModel.UserRole == 1)
            {
              
                @foreach(var product in Model)
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                                <div class="card-header">
                                    <h3>Product Name: @product.ProductName</h3>
                                    <h4>Supplier: @product.SupplierName</h4>
                                    <img class="card-img-top" src="data:image;base64,@(Convert.ToBase64String(product.ProductImage))" style="height: 200px; object-fit:contain;" />
                                    <div class="card-body">
                                        <h5>Production Date: @product.ProductionDate.ToShortDateString()</h5>
                                        <p class="card-text">Price: R @product.ProductPrice</p>
                                        <p class="card-text">Category: @product.ProductCategory</p>
                                        <p class="card-text">Description: @product.ProductDescription</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info">Purchase</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
                
            }
            </div>
        </div>


    </body>
    </html>

